﻿@using ClientDependency.Core
@using ClientDependency.Core.Mvc
@using Testing.Web.Infrastructure.MVC.Sitemap
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@PageTitles.Prefix@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Testing" />
        <meta name="author" content="Testing" />
        
        @{ Html.RequiresCss("bootstrap.css", "Styles", 1)
               .RequiresCss("bootstrap-responsive.css", "Styles", 2)
               .RequiresCss("site.css", "Styles", 3); }
        
        @MvcHtmlString.Create(Html.RenderCssHere(new List<IClientDependencyPath> { new BasicPath("Styles", "~/Content/styles") }))
        
        @RenderSection("Header", false)
        
    </head>
        <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Testing</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Register", "Index", "Registration")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; Testing 2012</p>
            </footer>
        </div>
        
		<!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
		
        @{ Html.RequiresJs("jquery-1.8.2.js", "Scripts", 1)
               .RequiresJs("jquery.validate.js", "Scripts", 2)
               .RequiresJs("jquery.validate.unobtrusive.js", "Scripts", 3)
               .RequiresJs("bootstrap.js", "Scripts", 4); }

        @RenderSection("Footer", false)

        @MvcHtmlString.Create(Html.RenderJsHere(new List<IClientDependencyPath>
                                                  {
                                                      new BasicPath("Scripts", "~/Scripts"), 
                                                  }))
    </body>
</html>



