﻿@using Testing.Web.Infrastructure.MVC.Sitemap
@model Testing.Web.Models.Registration.RegistrationViewModel
@{
    ViewBag.Title = PageTitles.Registration.Index;
}

<div class="row">
    <div class="span12">
        <h2>Register</h2>
        @using(Html.BeginForm("Index", "Registration", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <fieldset>
                <legend>Please register below</legend>
                <ol>
                    <li class="control-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(m => m.FirstName)
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>
                    </li>
                    <li class="control-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(m => m.LastName)
                            @Html.ValidationMessageFor(m => m.LastName)
                        </div>
                    </li>
                    <li class="control-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </li>
                    <li class="form-actions">
                        <input type="submit" value="Register" class="btn-primary" />
                    </li>
                </ol>
            </fieldset>
        }
    </div>
</div>
